openapi: 3.0.3
info:
  title: lole Restaurant OS API
  version: 1.0.0
  description: |
    Enterprise-grade Restaurant Operating System API for Ethiopian restaurants.
    Supports offline-first operations with synchronization capabilities.
  contact:
    name: lole Engineering
    email: api@lole.restaurant
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.lole.app
    description: Production server (Global)
  - url: https://api.staging.lole.app
    description: Staging server (Testing)
  - url: http://localhost:3000/api
    description: Local development server

tags:
   - name: Auth
     description: Authentication and session management
   - name: Restaurants
     description: Restaurant profile and configuration
   - name: Menu
     description: Menu management and categories
   - name: Orders
     description: Order lifecycle and management
   - name: KDS
     description: Kitchen Display System operations
   - name: Payments
     description: Payment processing and reconciliation
   - name: Reports
     description: Analytics and reporting
   - name: Staff
     description: Staff management and permissions
   - name: Guest Portal
     description: Guest-facing portal operations
   - name: Merchant Core
     description: Core merchant management operations
   - name: Merchant Marketing
     description: Marketing and promotional features
   - name: Merchant Operations
     description: Daily operations management
   - name: POS Device
     description: Point-of-sale device operations
   - name: Internal
     description: Internal system operations
   - name: System
     description: System health and infrastructure

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    # Common Types
    UUID:
      type: string
      format: uuid
      pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
      example: '123e4567-e89b-12d3-a456-426614174000'
    
    Santim:
      type: integer
      description: Monetary value in Ethiopian cents (1/100 of ETB)
      minimum: 0
      example: 15000
      x-unit: ETB

    Timestamp:
      type: string
      format: date-time
      example: '2026-05-15T10:30:00Z'

    # Restaurant
    Restaurant:
      type: object
      required: [id, name, subdomain]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
          maxLength: 255
          example: 'Kategna Restaurant'
        subdomain:
          type: string
          pattern: '^[a-z0-9-]+$'
          example: 'kategna'
        currency:
          type: string
          default: 'ETB'
          enum: [ETB, USD]
        timezone:
          type: string
          default: 'Africa/Addis_Ababa'
        settings:
          $ref: '#/components/schemas/RestaurantSettings'
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'

    RestaurantSettings:
      type: object
      properties:
        auto_sync_enabled:
          type: boolean
          default: true
        offline_mode:
          type: boolean
          default: true
        fiscal_compliance:
          type: boolean
          default: false

    # Menu
    MenuItem:
      type: object
      required: [id, name, price_santim, category_id]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
          maxLength: 255
          example: 'Doro Wat'
        description:
          type: string
          maxLength: 1000
        price_santim:
          $ref: '#/components/schemas/Santim'
        category_id:
          $ref: '#/components/schemas/UUID'
        is_vegetarian:
          type: boolean
          default: false
        is_fast:
          type: boolean
          description: Fasting period compatible
          default: false
        image_url:
          type: string
          format: uri
        sort_order:
          type: integer
          minimum: 0
        is_active:
          type: boolean
          default: true

    Category:
      type: object
      required: [id, name]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500
        sort_order:
          type: integer
        color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'

    # Orders
    Order:
      type: object
      required: [id, restaurant_id, status, total_santim, created_at]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        restaurant_id:
          $ref: '#/components/schemas/UUID'
        table_id:
          $ref: '#/components/schemas/UUID'
          nullable: true
        order_number:
          type: integer
          description: Human-readable sequential order number
        status:
          type: string
          enum: [pending, confirmed, preparing, ready, served, completed, cancelled]
        order_type:
          type: string
          enum: [dine_in, takeaway, delivery]
          default: 'dine_in'
        total_santim:
          $ref: '#/components/schemas/Santim'
        notes:
          type: string
          maxLength: 1000
        created_at:
          $ref: '#/components/schemas/Timestamp'
        updated_at:
          $ref: '#/components/schemas/Timestamp'
        completed_at:
          $ref: '#/components/schemas/Timestamp'
          nullable: true
        order_items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'

    OrderItem:
      type: object
      required: [id, menu_item_id, quantity, price_santim]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        order_id:
          $ref: '#/components/schemas/UUID'
        menu_item_id:
          $ref: '#/components/schemas/UUID'
        menu_item:
          $ref: '#/components/schemas/MenuItem'
        quantity:
          type: integer
          minimum: 1
          default: 1
        price_santim:
          $ref: '#/components/schemas/Santim'
        notes:
          type: string
          maxLength: 500

    PaginatedOrders:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # KDS
    KDSCourse:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        order_id:
          $ref: '#/components/schemas/UUID'
        course_number:
          type: integer
        name:
          type: string
          enum: [appetizers, mains, desserts, drinks]
        status:
          type: string
          enum: [pending, preparing, ready, served]
        due_at:
          $ref: '#/components/schemas/Timestamp'

    # Payments
    Payment:
      type: object
      required: [id, order_id, amount_santim, method, status]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        order_id:
          $ref: '#/components/schemas/UUID'
        amount_santim:
          $ref: '#/components/schemas/Santim'
        method:
          type: string
          enum: [cash, telebirr, chappa, card, gift_card]
        status:
          type: string
          enum: [pending, completed, failed, refunded]
        reference:
          type: string
        created_at:
          $ref: '#/components/schemas/Timestamp'

    # Staff
    StaffMember:
      type: object
      required: [id, restaurant_id, first_name, role]
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        restaurant_id:
          $ref: '#/components/schemas/UUID'
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        role:
          type: string
          enum: [owner, manager, waiter, kitchen]
        permissions:
          type: array
          items:
            type: string
        is_active:
          type: boolean

    # Common Responses
    Pagination:
      type: object
      properties:
        total:
          type: integer
          minimum: 0
        limit:
          type: integer
          minimum: 1
          default: 20
        offset:
          type: integer
          minimum: 0
          default: 0
        has_more:
          type: boolean

    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object
        code:
          type: string

SuccessResponse:
       type: object
       properties:
         success:
           type: boolean
           default: true
         data:
           type: object

     # Tables
     Table:
       type: object
       required: [id, restaurant_id, label]
       properties:
         id:
           $ref: '#/components/schemas/UUID'
         restaurant_id:
           $ref: '#/components/schemas/UUID'
         label:
           type: string
           maxLength: 50
         capacity:
           type: integer
           minimum: 1
           default: 4
         location:
           type: string
         is_active:
           type: boolean
           default: true
         current_session_id:
           $ref: '#/components/schemas/UUID'
           nullable: true

     TableSession:
       type: object
       required: [id, restaurant_id, table_id, status]
       properties:
         id:
           $ref: '#/components/schemas/UUID'
         restaurant_id:
           $ref: '#/components/schemas/UUID'
         table_id:
           $ref: '#/components/schemas/UUID'
         status:
           type: string
           enum: [active, pending_check, closed]
         guest_count:
           type: integer
           minimum: 1
         opened_at:
           $ref: '#/components/schemas/Timestamp'
         closed_at:
           $ref: '#/components/schemas/Timestamp'
           nullable: true
         total_santim:
           $ref: '#/components/schemas/Santim'

     # Gift Cards
     GiftCard:
       type: object
       required: [id, restaurant_id, code, balance_santim]
       properties:
         id:
           $ref: '#/components/schemas/UUID'
         restaurant_id:
           $ref: '#/components/schemas/UUID'
         code:
           type: string
           maxLength: 50
         balance_santim:
           $ref: '#/components/schemas/Santim'
         issued_at:
           $ref: '#/components/schemas/Timestamp'
         expires_at:
           $ref: '#/components/schemas/Timestamp'
           nullable: true
         is_active:
           type: boolean
           default: true

     # Loyalty
     LoyaltyProgram:
       type: object
       required: [id, restaurant_id, name]
       properties:
         id:
           $ref: '#/components/schemas/UUID'
         restaurant_id:
           $ref: '#/components/schemas/UUID'
         name:
           type: string
         multiplier:
           type: number
           minimum: 1
           default: 1
         is_active:
           type: boolean
           default: true

     LoyaltyTransaction:
       type: object
       required: [id, loyalty_program_id, points, transaction_type]
       properties:
         id:
           $ref: '#/components/schemas/UUID'
         loyalty_program_id:
           $ref: '#/components/schemas/UUID'
         order_id:
           $ref: '#/components/schemas/UUID'
           nullable: true
         points:
           type: integer
         transaction_type:
           type: string
           enum: [earned, redeemed, adjusted]
         created_at:
           $ref: '#/components/schemas/Timestamp'

     # Discounts
     Discount:
       type: object
       required: [id, restaurant_id, code, type, value]
       properties:
         id:
           $ref: '#/components/schemas/UUID'
         restaurant_id:
           $ref: '#/components/schemas/UUID'
         code:
           type: string
           maxLength: 50
         name:
           type: string
         type:
           type: string
           enum: [percentage, fixed_amount]
         value:
           type: integer
         start_date:
           type: string
           format: date
         end_date:
           type: string
           format: date
         is_active:
           type: boolean
           default: true

     # Waitlist
     WaitlistEntry:
       type: object
       required: [id, restaurant_id, party_size, status]
       properties:
         id:
           $ref: '#/components/schemas/UUID'
         restaurant_id:
           $ref: '#/components/schemas/UUID'
         party_size:
           type: integer
           minimum: 1
         customer_name:
           type: string
         customer_phone:
           type: string
         status:
           type: string
           enum: [waiting, notified, seated, cancelled, no_show]
         priority:
           type: integer
           minimum: 0
           default: 0
         created_at:
           $ref: '#/components/schemas/Timestamp'
         notified_at:
           $ref: '#/components/schemas/Timestamp'
           nullable: true
         seated_at:
           $ref: '#/components/schemas/Timestamp'
           nullable: true

     # Service Requests
     ServiceRequest:
       type: object
       required: [id, restaurant_id, table_id, type, status]
       properties:
         id:
           $ref: '#/components/schemas/UUID'
         restaurant_id:
           $ref: '#/components/schemas/UUID'
         table_id:
           $ref: '#/components/schemas/UUID'
         type:
           type: string
           enum: [water, utensils, napkins, condiments, bill, manager]
         status:
           type: string
           enum: [pending, acknowledged, completed, cancelled]
         notes:
           type: string
           maxLength: 500
         created_at:
           $ref: '#/components/schemas/Timestamp'
         completed_at:
           $ref: '#/components/schemas/Timestamp'
           nullable: true

     # Devices
     Device:
       type: object
       required: [id, restaurant_id, type, serial_number]
       properties:
         id:
           $ref: '#/components/schemas/UUID'
         restaurant_id:
           $ref: '#/components/schemas/UUID'
         type:
           type: string
           enum: [pos_terminal, kds_display, receipt_printer, kitchen_printer, tablet]
         serial_number:
           type: string
         name:
           type: string
         status:
           type: string
           enum: [online, offline, maintenance]
         last_seen:
           $ref: '#/components/schemas/Timestamp'

     # Webhooks
     Webhook:
       type: object
       required: [id, restaurant_id, url, events]
       properties:
         id:
           $ref: '#/components/schemas/UUID'
         restaurant_id:
           $ref: '#/components/schemas/UUID'
         url:
           type: string
           format: uri
         events:
           type: array
           items:
             type: string
         is_active:
           type: boolean
           default: true
         secret:
           type: string

     # Jobs
     Job:
       type: object
       required: [id, type, status]
       properties:
         id:
           $ref: '#/components/schemas/UUID'
         type:
           type: string
           enum: [data_export, import, sync, report_generation]
         status:
           type: string
           enum: [pending, running, completed, failed]
         progress:
           type: integer
           minimum: 0
           maximum: 100
         created_at:
           $ref: '#/components/schemas/Timestamp'
         completed_at:
           $ref: '#/components/schemas/Timestamp'
           nullable: true
         error:
           type: string
           nullable: true

paths:
  /api/restaurants/{restaurantId}:
    get:
      tags: [Restaurants]
      summary: Get restaurant profile
      operationId: getRestaurant
      parameters:
        - name: restaurantId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Restaurant profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Restaurant'
        '404':
          description: Restaurant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/menu:
    get:
      tags: [Menu]
      summary: List menu items
      operationId: listMenuItems
      parameters:
        - name: restaurant_id
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: category_id
          in: query
          schema:
            $ref: '#/components/schemas/UUID'
        - name: active_only
          in: query
          schema:
            type: boolean
            default: true
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: List of menu items
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MenuItem'
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'

  /api/orders:
    get:
      tags: [Orders]
      summary: List orders
      operationId: listOrders
      parameters:
        - name: restaurant_id
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: status
          in: query
          schema:
            type: string
        - name: order_type
          in: query
          schema:
            type: string
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Paginated orders list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrders'

    post:
      tags: [Orders]
      summary: Create new order
      operationId: createOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [restaurant_id, items]
              properties:
                restaurant_id:
                  $ref: '#/components/schemas/UUID'
                table_id:
                  $ref: '#/components/schemas/UUID'
                order_type:
                  type: string
                  enum: [dine_in, takeaway, delivery]
                items:
                  type: array
                  items:
                    type: object
                    required: [menu_item_id, quantity]
                    properties:
                      menu_item_id:
                        $ref: '#/components/schemas/UUID'
                      quantity:
                        type: integer
                        minimum: 1
                      notes:
                        type: string
                notes:
                  type: string
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/orders/{orderId}:
    get:
      tags: [Orders]
      summary: Get order by ID
      operationId: getOrder
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Order not found

    patch:
      tags: [Orders]
      summary: Update order status
      operationId: updateOrder
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [pending, confirmed, preparing, ready, served, completed, cancelled]
      responses:
        '200':
          description: Order updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /api/orders/{orderId}/items:
    post:
      tags: [Orders]
      summary: Add item to order
      operationId: addOrderItem
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [menu_item_id, quantity]
              properties:
                menu_item_id:
                  $ref: '#/components/schemas/UUID'
                quantity:
                  type: integer
                  minimum: 1
                notes:
                  type: string
      responses:
        '201':
          description: Item added

  /api/payments:
    post:
      tags: [Payments]
      summary: Process payment
      operationId: createPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id, amount_santim, method]
              properties:
                order_id:
                  $ref: '#/components/schemas/UUID'
                amount_santim:
                  $ref: '#/components/schemas/Santim'
                method:
                  type: string
                  enum: [cash, telebirr, chappa, card, gift_card]
                reference:
                  type: string
      responses:
        '201':
          description: Payment processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'

  /api/staff:
    get:
      tags: [Staff]
      summary: List staff members
      operationId: listStaff
      parameters:
        - name: restaurant_id
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - name: active_only
          in: query
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Staff list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StaffMember'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Staff]
      summary: Create staff member
      operationId: createStaff
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [restaurant_id, first_name, role]
              properties:
                restaurant_id:
                  $ref: '#/components/schemas/UUID'
                first_name:
                  type: string
                last_name:
                  type: string
                phone:
                  type: string
                role:
                  type: string
                  enum: [owner, manager, waiter, kitchen]
                permissions:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Staff created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaffMember'

  /health:
    get:
      tags: [Auth]
      summary: Health check endpoint
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: System health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy, degraded]
                  timestamp:
                    $ref: '#/components/schemas/Timestamp'
                  version:
                    type: string
                  dependencies:
                    type: object
                    properties:
                      database:
                        type: string
                        enum: [up, down]
                      redis:
                        type: string
                        enum: [up, down]
                      powersync:
                        type: string
                        enum: [up, down]